@page "/"

<AuthorizeView>
    <Authorized>
        <h1>Hello @context.User.Identity.Name !</h1>
        <p>Please select the desired module to continue.</p>

    </Authorized>
    <NotAuthorized>
        <h1>Welcome to Questionnaire Forms Management System</h1>
        <p>Please login to continue using relevant modules for you.</p>
    </NotAuthorized>
</AuthorizeView>
